body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #f9faf8;
}

h3 {
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  padding-right: 50px;
  display: flex;
  gap: 30px;
}

.awesome-main {
  display: flex;
}

.awesome-left {
}

.image {
  width: 40vw;
  height: 100%;
  background-color: aquamarine;
}

.image-box {
}

.hero-container,
.footer {
  background-color: #1f2937;
}

.hero-container {
  height: auto;
  width: auto;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
}

.title-container {
  height: 25%;
  width: auto;
}

.quote-container {
  height: 25%;
  width: auto;
  background-color: #e5e7eb;
}

.button-container {
  height: 15%;
  width: auto;
}

.footer {
  height: 5%;
  width: auto;
}
