body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.hero-container,
.footer {
  background-color: #1f2937;
}

.hero-container {
  height: 30%;
  width: auto;
  display: flex;
}

.title-container {
  height: 25%;
  width: auto;
}

.quote-container {
  height: 25%;
  width: auto;
  background-color: #e5e7eb;
}

.button-container {
  height: 15%;
  width: auto;
}

.footer {
  height: 5%;
  width: auto;
}
